.banner {
  color: white;
  background-size: cover;
  padding: 150px 0;
}

.banner h1 {
  font-weight: 40px;
}

.banner p {
  font-weight: 100;
  text-shadow: 2px 2px 3px rgba(10, 10, 10, 0.9);
  margin-bottom: 32px;
}
